<div
  class="flex justify-center py-5"
>
<div class="col-12 col-lg-12 col-xl-10 col-md-8 flex flex-wrap gap-3 justify-center">
    <div
      *ngFor="let items of listProduct; let i = index"
      class="bg-white xl:w-[320px] lg:w-[280px] w-[160px] shadow border-0 flex-shrink-0 rounded-md cursor-pointer"
      (click)="navigateToDetail(items.name)"
    >
      <figure class="px-2 pt-2">
        <img
          [src]="items.photo"
          [alt]="items.name"
          class="rounded-xl lg:min-h-[200px] min-h-[100px]"
        />
      </figure>
      <div class="card-body py-0 px-3 mt-1 mb-2">
        <div class="flex gap-1">
            <span class="bg-black rounded-xl h-[15px] px-2 w-fit flex align-middle justify-center text-[10px] text-white">NEW</span>
            <span class="bg-red-600 rounded-xl h-[15px] px-2 w-fit flex align-middle justify-center text-[10px] text-white">SOLD OUT</span>
        </div>
        <span
          class="uppercase text-sm font-bold inline-block align-top min-h-[60px] lg:min-h-[40px]"
        >
          {{ items.name }}</span
        >
        <div class="flex gap-2">
            <!-- <span class="text-secondary font-bold line-through">Rp 550,000</span> -->
            <span class="text-red-500 font-bold">Rp 550,000</span>
        </div>
      </div>
    </div>
</div>
</div>
