<div class="bg-black flex justify-center">
    <a class="bg-black lg:hidden flex p-2 btn btn-ghost col-4">
      <img src="https://chameleoncloth.com/assets/images/chameleoncloth.png" alt="logo">
    </a>
  </div>
  <div class="bg-[#fadfcb] hidden lg:flex text-xs p-1 px-4 text-[#323232]">
    <span class="col-3 text-bold font-bold">#Authentic</span>
    <span class="col-6 text-center justify-center">Get Free Shipping <b>10,000</b> with Voucher Code <b>FREONG</b></span>
    <span class="col-3 flex justify-end font-bold">Cara Pemesanan</span>
  </div>
  <div class="navbar bg-black sticky min-h-1 p-1" 
  style="z-index: 99">
        <div class="col-4">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden text-white">
              <img src="https://storage.googleapis.com/komerce/assets/komerce-icon/Putih/menu.svg" alt="menu">
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content rounded-br-lg bg-black w-52 p-4 shadow text-[#ececec] ml-[-10px] gap-1 uppercase">
              <span class="text-lg text-white font-bold">Kategori</span> 
              <div *ngFor="let items of categories; let i = index">
                <li><a>{{items.name}}</a></li><hr>
              </div>
  
              <span class="text-lg text-white font-bold mt-2">Payment</span>
              <span class="text-lg text-white font-bold">Akun</span>
            </ul>
          </div>
          <a class="lg:flex hidden btn btn-ghost col-3">
            <img src="https://chameleoncloth.com/assets/images/chameleoncloth.png" alt="logo">
          </a>
        </div>
        <div class="col-4 justify-center hidden lg:flex text-white">
          <ul class="menu menu-horizontal px-1">
            <li><a>KOLEKSI</a></li>
            <li><a>PAYMENT</a></li>
          </ul>
        </div>
        <div class="col-4 flex justify-end text-white px-4">CO</div>
    </div>
    <div class="bg-[#f3f3f373] flex lg:hidden text-sm py-2 px-4 justify-center shadow-lg sticky">
      <span class="text-center">Get Free Shipping <b>10,000</b> with Voucher Code <b>FREONG</b></span>
    </div>